<form action="/addtolist" method="post" class="form">
    <input type="text" required name="title" placeholder="title" class="input">
    <textarea name="description" placeholder="description" class="input" style="resize: none; height: 200px;"></textarea>
    <input type="number" required name="price" placeholder="price" class="input">
    <input type="text" name="link" placeholder="link" class="input">
    <p>This process cannot be undone.</p>
    <p>Items cannot be removed from your wishlist incase someone has bought the product for you already.</p>
    <input type="submit" value="Add" class="submit">
</form>