<!DOCTYPE html>
<html>
  <head>
    <title>Christmas List</title>
    <link rel="stylesheet" href="/style.css" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
  </head>
  <body>
    <a href="/" style="text-decoration: none"
      ><h1 style="text-align: center">
        <span class="title">Christmas List</span>
      </h1></a
    >
    <div class="line"></div>
    <div id="main">{{%content}}</div>
  </body>
</html>
